[submodule "Bike_Sharing_Project"]
	path = Bike_Sharing_Project
	url = https://github.com/krillavilla/Bike_Sharing_Project.git
[submodule "Developing-ML-Workflow"]
	path = Developing-ML-Workflow
	url = https://github.com/krillavilla/Developing-ML-Workflow.git
[submodule "Deploying_MLmodel_CloudApp_using_FastAPI"]
	path = Deploying_MLmodel_CloudApp_using_FastAPI
	url = https://github.com/krillavilla/Deploying_MLmodel_CloudApp_using_FastAPI.git
